# Assigment 4

### Cloud-to-ground lightning strikes over past 10 years (2007-2016) in Montreal and Ann Arbor comparison

Datasets :

- Montreal:
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.499,45.682
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.514,45.627
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.496,45.512
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.504,45.429
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.588,45.407
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.614,45.495
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.61,45.583
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.603,45.578
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.683,45.596
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.689,45.504
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.7,45.424
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.783,45.411
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.802,45.494
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.898,45.505
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.895,45.419
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-73.989,45.404


- Ann Arbor
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.736,42.293
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.712,42.231
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.782,42.226
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.806,42.3
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.621,42.4
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.609,42.311
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.603,42.217
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.603,42.121
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.719,42.118
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.808,42.131
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.925,42.122
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.916,42.199
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.897,42.299
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.911,42.391
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.769,42.405
  - https://www.ncdc.noaa.gov/swdiws/csv/nldn/20070101:20170101/?stat=tilesum:-83.703,42.415

In [50]:
import pandas as pd
import numpy as np
import datetime as dt
import time
import matplotlib.pyplot as plt

%matplotlib notebook

MTL_FILE='NLDN/MTL.csv'
AAB_FILE='NLDN/AAB.csv'

df_MTL = pd.read_csv(MTL_FILE)

df_AAB = pd.read_csv(AAB_FILE)

# df_MTL['DAY']
# df_MTL

             DAY  CENTERLAT  CENTERLON  FCOUNT
0     2007-05-15       45.7      -73.5       1
1     2007-05-25       45.7      -73.5       3
2     2007-06-05       45.7      -73.5      10
3     2007-06-09       45.7      -73.5       5
4     2007-06-28       45.7      -73.5      11
5     2007-07-02       45.7      -73.5       1
6     2007-07-06       45.7      -73.5       1
7     2007-07-13       45.7      -73.5      18
8     2007-08-03       45.7      -73.5      29
9     2007-08-06       45.7      -73.5       5
10    2007-08-13       45.7      -73.5       6
11    2007-08-16       45.7      -73.5       9
12    2007-08-23       45.7      -73.5       1
13    2007-08-29       45.7      -73.5      43
14    2007-08-30       45.7      -73.5       1
15    2008-06-10       45.7      -73.5       1
16    2008-06-14       45.7      -73.5       1
17    2008-06-26       45.7      -73.5      13
18    2008-06-29       45.7      -73.5       3
19    2008-06-30       45.7      -73.5       2
20    2008-07-26       45.7      -73.5       2
21    2008-07-28       45.7      -73.5       6
22    2008-07-31       45.7      -73.5      14
23    2008-08-02       45.7      -73.5       1
24    2008-08-06       45.7      -73.5       3
25    2008-08-11       45.7      -73.5       3
26    2008-08-18       45.7      -73.5       1
27    2009-06-15       45.7      -73.5       5
28    2009-06-27       45.7      -73.5       7
29    2009-07-01       45.7      -73.5       1
...          ...        ...        ...     ...
1746  2013-08-04       45.4      -74.0       3
1747  2013-08-16       45.4      -74.0       2
1748  2013-09-02       45.4      -74.0       4
1749  2013-09-11       45.4      -74.0       8
1750  2013-09-12       45.4      -74.0       3
1751  2014-05-10       45.4      -74.0       1
1752  2014-05-27       45.4      -74.0       1
1753  2014-06-03       45.4      -74.0      12
1754  2014-07-23       45.4      -74.0      13
1755  2014-07-31       45.4      -74.0      10
1756  2014-08-02       45.4      -74.0       1
1757  2014-08-31       45.4      -74.0       5
1758  2014-09-05       45.4      -74.0       7
1759  2014-09-06       45.4      -74.0       2
1760  2014-10-07       45.4      -74.0       2
1761  2015-06-22       45.4      -74.0      28
1762  2015-07-19       45.4      -74.0      21
1763  2015-07-20       45.4      -74.0       1
1764  2015-07-28       45.4      -74.0       7
1765  2015-08-01       45.4      -74.0       2
1766  2015-09-08       45.4      -74.0       1
1767  2016-03-17       45.4      -74.0       1
1768  2016-05-27       45.4      -74.0       1
1769  2016-06-21       45.4      -74.0       1
1770  2016-06-28       45.4      -74.0       4
1771  2016-07-15       45.4      -74.0       2
1772  2016-07-18       45.4      -74.0       1
1773  2016-07-23       45.4      -74.0      21
1774  2016-08-31       45.4      -74.0       2
1775  2016-09-11       45.4      -74.0       2

[1776 rows x 4 columns]

In [47]:
def get_day(date_string):
    return datetime.strptime(date_string, '%m/%d/%Y').date()

In [57]:
# df_MTL.groupby(lambda x: time.strptime('DAY', '%Y-%m-%d').date())
start = dt.datetime(2007, 1, 1)
end   = dt.datetime(2016, 12, 31)
dates = pd.date_range(start, end)
dates.to_frame()
# df = dates.to_frame().merge(df_MTL, right_on='DAY', how='outer')
# df
# plt.figure()
# df_MTL.plot()

AttributeError: 'DatetimeIndex' object has no attribute 'to_frame'

In [ ]:
def clean_dataframe(df):